In [1]:
# Import libraries
import pandas as pd
from pathlib import Path
import pickle

In [2]:
# Load model
model_path = Path.cwd() / "deployment" / "best_model.pkl"
print(model_path)                  # debug
assert model_path.exists(), "Model file not found!"

with open(model_path, "rb") as f:
    best_model = pickle.load(f)

/Users/alghfrimh/Folder GitHub/Public File/Customer-Response-Prediction-for-Marketing-Campaigns/deployment/best_model.pkl

In [3]:
# Customer 1
customer1 = {
    "id": 30001,
    "year_birth": 1978,
    "education": "Master",
    "marital_status": "Married",
    "income": 72000.0,
    "kid_home": 0,
    "teen_home": 4,
    "date_customer": "2013-12-15",
    "recency": 8,
    "wine_prods": 600,
    "fruit_prods": 80,
    "meat_prods": 240,
    "fish_prods": 120,
    "sweet_prods": 50,
    "gold_prods": 40,
    "total_spent": 1130,
    "num_deals": 5,
    "num_web": 10,
    "num_catalog": 5,
    "num_store": 15,
    "num_web_visits": 3,
    "cmp1": 1,
    "cmp2": 0,
    "cmp3": 1,
    "cmp4": 0,
    "cmp5": 1,
    "complain": 0,
    "z_cost_contact": 3,
    "z_revenue": 11}

cust_1_df = pd.DataFrame([customer1])

customer2 = {
    "id": 30002,
    "year_birth": 1965,
    "education": "Basic",
    "marital_status": "Other",
    "income": 21000.0,
    "kid_home": 2,
    "teen_home": 1,
    "date_customer": "2014-08-22",
    "recency": 90,
    "wine_prods": 5,
    "fruit_prods": 3,
    "meat_prods": 8,
    "fish_prods": 0,
    "sweet_prods": 2,
    "gold_prods": 0,
    "total_spent": 18,
    "num_deals": 0,
    "num_web": 1,
    "num_catalog": 0,
    "num_store": 1,
    "num_web_visits": 12,
    "cmp1": 0,
    "cmp2": 0,
    "cmp3": 1,
    "cmp4": 1,
    "cmp5": 0,
    "complain": 0,
    "z_cost_contact": 3,
    "z_revenue": 11}

cust_2_df = pd.DataFrame([customer2])

In [4]:
cust_1_df

,id,year_birth,education,marital_status,income,kid_home,teen_home,date_customer,recency,wine_prods,...,num_store,num_web_visits,cmp1,cmp2,cmp3,cmp4,cmp5,complain,z_cost_contact,z_revenue
0,30001,1978,Master,Married,72000.0,0,4,2013-12-15,8,600,...,15,3,1,0,1,0,1,0,3,11

In [5]:
cust_2_df

,id,year_birth,education,marital_status,income,kid_home,teen_home,date_customer,recency,wine_prods,...,num_store,num_web_visits,cmp1,cmp2,cmp3,cmp4,cmp5,complain,z_cost_contact,z_revenue
0,30002,1965,Basic,Other,21000.0,2,1,2014-08-22,90,5,...,1,12,0,0,1,1,0,0,3,11

In [6]:
# Prediksi untuk kedua user dengan probabilitas
for i, user in enumerate([cust_1_df, cust_2_df], start=1):
    result = best_model.predict(user)[0]
    prob = best_model.predict_proba(user)[0][1]
    if result == 1:
        print(f'Customer {i}: Predicted to respond in the next campaign (1) with a probability of {prob:.2%}')
    else:
        print(f'Customer {i}: Predicted not to respond in the next campaign (0) with a probability of {prob:.2%}')

Customer 1: Predicted to respond in the next campaign (1) with a probability of 77.40%
Customer 2: Predicted not to respond in the next campaign (0) with a probability of 7.34%